.form {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 1.4rem 1rem;
    background-color:gainsboro;
    bottom: 0;
}

.input {
    flex: 1 auto;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.button {
    cursor: pointer;
    background-color: var(--color-point);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 1.5rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button:hover {
    filter: brightness(120%);
}