:root {
  --color-bg: #F0F6F2;
  --color-font: #252B24;
  --color-point: #ff8700;

}

html.dark {
  --color-font: #F0F6F2;
}
#root {
  width: 100%;
  height: 60%;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  border-radius: 5rem;
  flex-direction: column;
  box-shadow: 23px 22px 16px 2px rgba(56,113,94,0.85);
  -webkit-box-shadow: 23px 22px 16px 2px rgba(56,113,94,0.85);  
  -moz-box-shadow: 23px 22px 16px 2px rgba(56,113,94,0.85);
  background-color: var(--color-bg);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: rgb(43,106,249);
  background: radial-gradient(circle, rgba(43,106,249,0.8408613445378151) 0%, rgba(92,249,74,0.8240546218487395) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
